:root {
  --dark-purple: hsl(292, 42%, 14%);
  --gray-purple: hsl(292, 16%, 49%);
  --pink: hsl(281, 83%, 54%);
  --light-pink: hsl(274, 100%, 97%);
  --font: 'Work Sans', sans-serif;
}

/* Accessibility */

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Content */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 90px 1fr 1fr;
  font-family: var(--font);
  font-weight: 400;
  background-color: var(--light-pink);
}

.deco-bground {
  grid-row: 1 / 3;
  grid-column: 1;
  background-image: url('../assets/images/background-pattern-mobile.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  grid-row: 2 / 4;
  grid-column: 1;
  background-color: #fff;
  width: 327px;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 0 auto 2rem auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

header h2 {
  font-size: 2rem;
  margin-left: 1.5rem;
  color: var(--dark-purple);
}

@media (min-width: 650px) {
  body {
    grid-template-rows: 230px 90px 1fr auto;
  }

  .deco-bground {
    background-image: url('../assets/images/background-pattern-desktop.svg');
  }

  .container {
    max-width: 600px;
    width: 100%;
    padding: 2.5rem;
  }

  header h2 {
    font-size: 3.5rem;
  }
}

/* Accordion */

.accordion-group section {
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--light-pink);
}

.accordion-group section:first-of-type {
  padding-top: 0;
}

.accordion-group section:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

.accordion__trigger {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--dark-purple);
  font-weight: 600;
  border: 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
}

.accordion__trigger:hover {
  color: var(--pink);
}

.accordion__panel {
  padding-top: 1.5rem;
}

.accordion__panel p {
  font-size: 0.875rem;
  color: var(--gray-purple);
}

.accordion-icon {
  padding-left: 1.5rem;
}

@media (min-width: 650px) {
  .accordion__trigger {
    font-size: 1.125rem;
  }

  .accordion__panel p {
    font-size: 1rem;
  }
}

/* CSS Tricks: 
Handling sub elements of clickable things
*/
button > * {
  pointer-events: none;
}

.collapsed + .accordion__panel,
.collapsed .icon-minus,
.icon-plus {
  display: none;
}

.collapsed .icon-plus {
  display: block;
}

/* Footer */

.fm-byline-row {
  padding-bottom: 1.25rem;
  grid-row: 5;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--dark-purple);
}
